<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="perfmon" type="PerfmonBeat.Config.PerfmonConfigurationSection, PerfmonBeat"/>
	</configSections>
	<perfmon interval="5000" elastic="http://127.0.0.1:9200">
		<counters>
			<counter category="Processor" counter="% Processor Time" instance="_Total" />
			<counter category="Processor" counter="% Privileged Time" instance="_Total" />
			<counter category="1Processor" counter="% Privileged Time" instance="_Total" />
		</counters>
	</perfmon>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>