<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="perfmon" type="PerfmonBeat.Config.PerfmonConfiguration, PerfmonBeat"/>
	</configSections>
	<appSettings>
		<add key="Interval" value="5000"/>
		<add key="Elastic" value="http://localhost:9200"/>
	</appSettings>
	<perfmon>
		<counters>
			<counter category="Processor" counter="% Processor Time" instance="_Total" />
			<counter category="Processor" counter="% Privileged Time" instance="_Total" />
			<counter category="1Processor" counter="% Privileged Time" instance="_Total" />
		</counters>
	</perfmon>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>