<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="perfmon" type="PerfmonBeat.Config.PerfmonConfiguration, PerfmonBeat"/>
	</configSections>
	<appSettings>
		<add key="Interval" value="5000"/>
		<add key="Elastic" value="http://localhost:9200"/>
	</appSettings>
	<perfmon>
		<counters>
			<counter category="Processor" counter="% Processor Time" instance="_Total" />
			<counter category="Processor" counter="% Idle Time" instance="_Total" />

			<counter category="Memory" counter="Available MBytes" />
			
			<!--<counter category="SQLAgent:Jobs" counter="Active jobs" instance="_Total" />
			<counter category="SQLAgent:Jobs" counter="Failed jobs" instance="_Total" />
			<counter category="SQLAgent:Jobs" counter="Queued jobs" instance="_Total" />

			<counter category="SQLAgent:JobSteps" counter="Active steps" instance="_Total" />
			<counter category="SQLAgent:JobSteps" counter="Queued steps" instance="_Total" />

			<counter category="SQLServer:Buffer Manager" counter="Buffer cache hit ratio" />
			<counter category="SQLServer:Buffer Manager" counter="Page life expectancy" />

			<counter category="SQLServer:Databases" counter="Active Transactions" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Data File(s) Size (KB)" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Log Cache Hit Ratio" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Log File(s) Size (KB)" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Log Growths" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Log Shrinks" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Log Truncations" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Percent Log Used" instance="_Total" />
			<counter category="SQLServer:Databases" counter="Transactions/sec" instance="_Total" />

			<counter category="SQLServer:General Statistics" counter="Active Temp Tables" />
			<counter category="SQLServer:General Statistics" counter="Processes blocked" />
			<counter category="SQLServer:General Statistics" counter="Transactions" />

			<counter category="SQLServer:Locks" counter="Lock Waits/sec" instance="_Total" />
			<counter category="SQLServer:Locks" counter="Number of Deadlocks/sec" instance="_Total" />

			<counter category="SQLServer:SQL Errors" counter="Errors/sec" instance="_Total" />
			
			<counter category="SQLServer:SQL Statistics" counter="Batch Requests/sec" />
			<counter category="SQLServer:SQL Statistics" counter="SQL Compilations/sec" />
			<counter category="SQLServer:SQL Statistics" counter="SQL Re-Compilations/sec" />

			<counter category="SMTP Server" counter="Connection Errors/sec" instance="_Total" />
			<counter category="SMTP Server" counter="Current Messages in Local Delivery" instance="_Total" />
			<counter category="SMTP Server" counter="Local Queue Length" instance="_Total" />
			<counter category="SMTP Server" counter="Local Retry Queue Length" instance="_Total" />
			<counter category="SMTP Server" counter="Messages Delivered/sec" instance="_Total" />
			<counter category="SMTP Server" counter="Messages Received/sec" instance="_Total" />
			<counter category="SMTP Server" counter="Messages Sent/sec" instance="_Total" />
			<counter category="SMTP Server" counter="Remote Queue Length" instance="_Total" />-->
		</counters>
	</perfmon>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>